/*These are text fonts used throughout the pages*/
@import url("https://fonts.google.com/specimen/Rubik?vfonly=true");
@import url("https://fonts.google.com/specimen/Edu+SA+Beginner?classification=Handwriting&vfonly=true");
@import url("https://fonts.google.com/specimen/Antonio?classification=Display&vfonly=true");

/*styling the navigation bar at the top of all pages with the id selector*/
#navbar {
    height: 50px;
    background: hotpink;
}

/*styling the div element within the navbar element*/
#navbar div {
    display: inline-block;
    position: absolute;
    left: 5;
    padding: 15px;
    font-size: 20px;
    color: white;
}
#navbar ul {
    position: absolute;
    right: 5px;
    color: white;
}
#navbar ul li {
    display: inline-block;
}
#navbar ul li a {
    color: white;
    padding: 5px;
}

/*styling all h1 elements*/
h1 {
    font-family: "Antonio", sans-serif;
    text-align: center;
    font-size: 36px;
    color: darkblue;
}

/*styling with the class selector*/
.background {
    background: url(./images/pinkbkg.jpg);
    background-size: cover;
    height: 300vh;
}
.statement {
    font-family: "Rubik", sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 30px;
    color: lightcoral;
    padding-top: 35px;
}
.mission {
    font-family: "Edu SA Beginner", cursive;
    font-size: 23px;
    text-align: justify;
    color: black;
    padding: 35px;
}
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/*styling all h2 elements*/
h2 {
    font-family: "Antonio", sans-serif;
    text-align: center;
    font-size: 25px;
    color: midnightblue;
}

/*styling all ul elements*/
ul {
    list-style-position: inside;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "Edu SA Beginner", cursive;
}

/*styling with the class selector*/
.table {
    margin-left: auto;
    margin-right: auto;
    font-family: "Edu SA Beginner", cursive;
    font-size: 18px;
    color: black;
}

/*styling the table elements*/
table, th, td {
    border: 1px solid;
}

/*styling the text form*/
input[type=text] {
    padding: 5px 9px;  
    margin: 9px 0px; 
    border: 1px solid black;
    border-radius: 5px;
}
#txtArea {
    padding: 15px 20px;  
    margin: 9px 0px; 
    border: 1px solid black;
    border-radius: 5px;  
}

/*styling the submit button*/
input[type=submit] {
    background-color: #fa07ad;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}